<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title || "Cesar's Mods Guide" %></title>
<link rel="stylesheet" href="/src/public/css/style.css" />
<link rel="icon" href="/src/public/img/favicon.ico" />
