<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="logo">Cesar's ModsGuide</a>

    <ul class="nav-links">
      <li><a href="/">Inicio</a></li>
      <li><a href="/dashboard">Guías</a></li>
      <% if (typeof user !== 'undefined') { %>
        <li><a href="/profile">Perfil</a></li>
      <li><a href="/auth/logout">Salir (<%= user.username %>)</a></li>
      <% } else { %>
      <li><a href="/auth/login">Iniciar sesión</a></li>
      <li><a href="/auth/register">Registrarse</a></li>
      <% } %>
    </ul>
  </div>
</nav>
